<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Internet Explorer Support -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- JQUERY 3.3.1 -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Mixitup JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.min.js"></script>

    <!-- Mixitup CSS -->
    <link rel="stylesheet" href="/assets/css/mixitup.css" />

    <title>Mixitup + Modal Demo</title>
    <meta name="description" content="MixitUp API">

    <script>
        $(function () {
            // GALLERY
            $('#gallery').mixItUp({});

            function mixClear() {
                setTimeout(function () { $('#gallery').removeClass('waypoint') }, 2000);
            }

            // MODAL
            var modalText = {
                roambi: {
                    title: 'Roambi.com',
                    tag: 'BUSINESS ANALYTICS.',
                    detail: 'Roambi provides analytics, reporting, and business intelligence for companies to use on the go. A Wordpress hosted site written in PHP and Javascript with Hubspot Integration.',
                    link: 'http://www.roambi.com',
                    imglength: 1,
                },
                walker: {
                    title: 'WalkerTracker',
                    tag: 'PERFORMANCE METRICS.',
                    detail: 'Walker Tracker offers goal management, fitness tracking, and team competitions to companies for internal use. A Ruby on Rails and Javascript companion site for the Walker Tracker App. Features visual metrics and gamified progression system.',
                    imglength: 2,
                },
                powur: {
                    title: 'Powur.com',
                    tag: 'MULTI-LEVEL MARKETING.',
                    detail: 'Powur is a multi-level marketing platform for lead generation, recruitment, and team building. Built with Ruby on Rails and Angular-UI. Makes use of Angular-material for front-end visuals. Features complex user tree heiarchy and commission system.',
                    link: 'http://www.powur.com/with/42',
                    imglength: 3,
                },
                mystand: {
                    title: 'MyStand',
                    tag: 'CROWD-FUNDED CHARITY.',
                    detail: 'MyStand is a crowd-funding, media sharing website, that has you donating actions instead of money out of your pocket. Single page App built with Node.js on Sails and Angular 2.0. Features social media sharing and large scale crowd-funding.',
                    imglength: 1,
                },
                never: {
                    title: 'NeverSurrender',
                    tag: 'ALS AWARENESS.',
                    detail: 'NeverSurrender is a platform for the new ALS foundation mobile app in hopes to raise awareness and research funding to fight ALS. Pure JavaScript marketing site to promote the new ALS NeverSurrender app.',
                    imglength: 2,
                },
                themall: {
                    title: 'The Mall',
                    tag: 'PEER GUIDED SHOPPING.',
                    detail: 'The Mall is a place to follow the latest fashion purchases of your friends and favorite celebrities. Built with Node.js and Handlebars. Features the ability to import thousands of top brands products into one shopping site.',
                    imglength: 3,
                }
            };

            $('#gallery .button').on('click', function () {
                fillModal(this.id);
                $('.modal-wrap').addClass('visible');
            });

            $('.close').on('click', function () {
                $('.modal-wrap, #modal .button').removeClass('visible');
            });

            $('.mask').on('click', function () {
                $('.modal-wrap, #modal .button').removeClass('visible');
            });

            var carousel = $('#carousel'),
                slideWidth = 700,
                threshold = slideWidth / 3,
                dragStart,
                dragEnd;

            setDimensions();

            $('#next').click(function () { shiftSlide(-1) })
            $('#prev').click(function () { shiftSlide(1) })

            carousel.on('mousedown', function () {
                if (carousel.hasClass('transition')) return;
                dragStart = event.pageX;
                $(this).on('mousemove', function () {
                    dragEnd = event.pageX;
                    $(this).css('transform', 'translateX(' + dragPos() + 'px)');
                });
                $(document).on('mouseup', function () {
                    if (dragPos() > threshold) { return shiftSlide(1) }
                    if (dragPos() < -threshold) { return shiftSlide(-1) }
                    shiftSlide(0);
                });
            });

            function setDimensions() {
                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    slideWidth = $(window).innerWidth();
                }
                $('.carousel-wrap, .slide').css('width', slideWidth);
                $('.modal').css('max-width', slideWidth);
                $('#carousel').css('left', slideWidth * -1)
            }

            function dragPos() {
                return dragEnd - dragStart;
            }

            function shiftSlide(direction) {
                if (carousel.hasClass('transition')) return;
                dragEnd = dragStart;
                $(document).off('mouseup')
                carousel.off('mousemove')
                    .addClass('transition')
                    .css('transform', 'translateX(' + (direction * slideWidth) + 'px)');
                setTimeout(function () {
                    if (direction === 1) {
                        $('.slide:first').before($('.slide:last'));
                    } else if (direction === -1) {
                        $('.slide:last').after($('.slide:first'));
                    }
                    carousel.removeClass('transition')
                    carousel.css('transform', 'translateX(0px)');
                }, 700)
            }

            function fillModal(id) {

                $('#modal .title').text(modalText[id].title);
                $('#modal .detail').text(modalText[id].detail);
                $('#modal .tag').text(modalText[id].tag);
                if (modalText[id].link) $('#modal .button').addClass('visible')
                    .parent()
                    .attr('href', modalText[id].link)

                $.each($('#modal li'), function (index, value) {
                    $(this).text(modalText[id].bullets[index]);
                });
                // Add modal image
                $.each($('#modal .slide'), function (index, value) {
                    $(this).css({
                        background: "url('/assets/images/" + id + '-' + index + ".jpg') center center/cover",
                        backgroundSize: 'cover'
                    });
                });
            }

        });
    </script>
</head>

<body>

    <!-- HOME -->
    <div class="modal-wrap flex">
        <div class="mask"></div>
        <div class="modal" id="modal">
            <div class="carousel-wrap">
                <div class="window">
                    <div id="carousel">
                        <div class="slide"></div>
                        <div class="slide"></div>
                        <div class="slide"></div>
                    </div>
                    <i class="mdi mdi-chevron-left" id="prev"></i>
                    <i class="mdi mdi-chevron-right" id="next"></i>
                </div>

            </div>
            <div class="info-box">
                <div class="title"></div>
                <div class="tag"></div>
                <div class="detail"></div>
                <a href="#" target="_blank">
                    <div class="button"><i class="mdi mdi-open-in-new"></i>VIEW SITE</div>
                </a>
            </div>
            <i class="close mdi mdi-close">&#9587;</i>
        </div>
    </div>

    <section id="home" class="flex height-fix" style="height: 1px;padding: 0;">

    </section>
    <section id="about" style="height: 1px;padding: 0;">

    </section>
    <section class="flex" id="portfolio">

        <div class="header waypoint animated slide-in-right" data-animation="slide-in-right">PROJECTS</div>
        <div class="header-bar waypoint animated slide-in-right" data-animation="slide-in-right" data-delay=".3s"
            style="animation-delay: 0.3s;"></div>

        <div class="filter-wrap waypoint animated fade-in" data-animation="fade-in">
            <div class="flex row">
                <div class="filter active" data-filter="all">ALL</div>
                <div class="filter" data-filter=".node">NODE.JS</div>
                <div class="filter" data-filter=".rails">RUBY/RAILS</div>
                <div class="filter" data-filter=".js">JAVASCRIPT</div>
            </div>
            <div class="float-bar" style="left: 25px; width: 110px;">
                <div class="flex row" style="left: -25px;">
                    <div class="filter active" data-filter="all">ALL</div>
                    <div class="filter" data-filter=".node">NODE.JS</div>
                    <div class="filter" data-filter=".rails">RUBY/RAILS</div>
                    <div class="filter" data-filter=".js">JAVASCRIPT</div>
                </div>
            </div>
        </div>

        <div id="gallery" class="container flex row wrap animated">
            <div class="mix js" data-my-order="1" style="display: inline-block;" data-bound="">
                <div>
                    <div class="card"></div>
                    <div class="text">
                        <div class="bold">Roambi</div>
                        <span class="highlight">Pure JavaScript</span>
                    </div>
                    <div class="button" id="roambi">LEARN MORE</div>
                </div>
            </div>

            <div class="mix rails" data-my-order="1" style="display: inline-block;" data-bound="">
                <div>
                    <div class="card"></div>
                    <div class="text">
                        <div class="bold">Walker Tracker</div>
                        <span class="highlight">Ruby on Rails+ JS</span>
                    </div>
                    <div class="button" id="walker">LEARN MORE</div>
                </div>
            </div>

            <div class="mix node" data-my-order="1" style="display: inline-block;" data-bound="">
                <div>
                    <div class="card"></div>
                    <div class="text">
                        <div class="bold">MY STAND</div>
                        <span class="highlight">Node.js on Sails</span>
                    </div>
                    <div class="button" id="mystand">LEARN MORE</div>
                </div>
            </div>

            <div class="mix js" data-my-order="1" style="display: inline-block;" data-bound="">
                <div>
                    <div class="card"></div>
                    <div class="text">
                        <div class="bold">NEVER SURRENDER</div>
                        <span class="highlight">Pure JavaScript</span>
                    </div>
                    <div class="button" id="never">LEARN MORE</div>
                </div>
            </div>

            <div class="mix rails" data-my-order="1" style="display: inline-block;" data-bound="">
                <div>
                    <div class="card"></div>
                    <div class="text">
                        <div class="bold">Powur</div>
                        <span class="highlight">Ruby on Rails + Angular</span>
                    </div>
                    <div class="button" id="powur">LEARN MORE</div>
                </div>
            </div>


            <div class="mix node" data-my-order="1" style="display: inline-block;" data-bound="">
                <div>
                    <div class="card"></div>
                    <div class="text">
                        <div class="bold">The Mall</div>
                        <span class="highlight">Node + React.js</span>
                    </div>
                    <div class="button" id="themall">LEARN MORE</div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>